In [1]:
import pandas as pd
import re

flt = re.compile(r"(pic|vk|jpe?g|<раздатка>|(1\.)|&#|переведите|---)")

In [2]:
data = pd.read_csv("../data/dataset_reduced_filtered_super_mega.csv")
data.head()

,Unnamed: 0,question,answer,comments
0,175488,Строительство в столице ГДР нового зоопарка пр...,Аистов.,NaN
1,172329,В 1832 г. саратовским епископом был назначен п...,"Строго следить, чтобы вновь в монастыри никого...",NaN
2,180980,Информационное агентство РосБизнесКонсалтинг п...,1 апреля 2005 года.,NaN
3,178167,Вашему вниманию предлагается несколько цитат и...,Туркмен.,"Цитировалась книга ""Рухнама"" Сапармурата Туркм..."
4,96150,Первое слово имеет французские корни - так в с...,"Крупье, букмекер, азарт.","КРУПЬЕ, нескл., м., одуш. [фр. croupier]. Б..."

In [3]:
msk = data["question"].map(lambda x: bool(flt.search(x.lower())))
msk.sum()

0

In [4]:
data[~msk].to_csv("dataset_cleaned.csv", index=False)